{% extends "AppBcs/base.html" %}
{% load static %}
{% block titulo %} ZeusHouse/Inicio {% endblock %}

{% block contenidoQueCambia %}
    <!-- Hero Section -->
    <section class="hero-section text-center bg-gradient py-5">
        <div class="container">
            <h1 class="display-4 mb-3 text-shadow">¡Bienvenido a ZeusHouse!</h1>
            <p class="lead mb-4 text-light">Descubre el mejor contenido en consolas, juegos, funkos y periféricos.</p>
            <a href="#explore" class="btn btn-custom btn-lg btn-shadow">Explorar</a>
        </div>
    </section>

    <!-- Main Content Section -->
    <section class="content-section py-5" id="explore">
        <div class="container">
            <h2 class="text-center mb-4">Explora Nuestro Mundo Gamer</h2>
            <p class="text-center mb-5">Desde las últimas consolas hasta funkos exclusivos, tenemos todo la informacion que un verdadero gamer necesita.</p>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card border-0 shadow-hover rounded-lg p-4">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">Consolas</h5>
                            <p class="card-text mb-4">Encuentra las mejores consolas para tus juegos favoritos.</p>
                            <a href="#" class="btn btn-primary btn-lg btn-shadow">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-0 shadow-hover rounded-lg p-4">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">Juegos</h5>
                            <p class="card-text mb-4">Descubre una amplia variedad de juegos para todas las plataformas.</p>
                            <a href="#" class="btn btn-primary btn-lg btn-shadow">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card border-0 shadow-hover rounded-lg p-4">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">Funkos</h5>
                            <p class="card-text mb-4">Colecciona las figuras Funko Pop! más exclusivas.</p>
                            <a href="#" class="btn btn-primary btn-lg btn-shadow">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

